@font-face {
    font-family: 'Gilroy Bold';
    font-weight: bold;
    src: url("../fonts/10871.otf") format("opentype");
}
@font-face {
    font-family: 'Gilroy Light';
    src: url("../fonts/10177.otf") format("opentype");
}
html{
    overflow: hidden;
}
body{
    font-family: 'Gilroy Light', 'Montserrat', 'Roboto', sans-serif;
    background-image: url('../img/bg.jpg');
    /*https://images.pexels.com/photos/1290474/pexels-photo-1290474.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.column{
    position: sticky;
    border-right: 1px solid #999;
    height: 100%;
    font-size: 2vh;
    box-sizing: border-box;
    width: 40vh;
    margin-left: -4px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    transition: all .3s cubic-bezier(.3,.18,.16,.92);
    cursor: pointer;
}
.column.active{
    cursor: initial;
    opacity: 1;
    width: 80vh;
    background-color: rgba(255,255,255,.8);
    -webkit-transition: width .3s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: width .3s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: width .3s cubic-bezier(.3,.18,.16,.92);
    -o-transition: width .3s cubic-bezier(.3,.18,.16,.92);
    transition: width .3s cubic-bezier(.3,.18,.16,.92);
}
.column h3{
    font-family: 'Gilroy Bold', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #222;
    font-size: 4vh;
}
.column-head{
    position: relative;
    min-height: 370px;
    -webkit-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    transition: all .3s cubic-bezier(.3,.18,.16,.92);
}
.column.active .column-head{
    min-height: 100px;
    -webkit-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    transition: all .3s cubic-bezier(.3,.18,.16,.92);
}
.column-body{
    position: relative;
    font-size: 15pt;
}
.column.active .visual{
    height: calc(80vh / 1.9);
    -webkit-transition: all .6s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .6s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .6s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .6s cubic-bezier(.3,.18,.16,.92);
    transition: all .6s cubic-bezier(.3,.18,.16,.92);
}
.column.active .letter{
    transform: rotate(-25deg);
    font-size: 80pt;
    line-height: 10vh;
    left: initial;
    right: 20px;
    margin: initial;
    display: table;
    -webkit-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    transition: all .3s cubic-bezier(.3,.18,.16,.92);
}
.sidebar{
    background: linear-gradient(45deg, white, #f9f9f9);
    display: inline-block;
    padding: 0 20px;
    float: left;
    width: 40vh;
}
.main-content{
    display: inline-block;
    position: absolute;
    float: left;
    vertical-align: top;
}
.sidebar-nav{
    text-align: left;
    list-style-type: none;
    padding: 0;
}
.sidebar-item{
    font-size: 17pt;
    padding: 10px 0;
}
.sidebar-item a{
    text-decoration: none;
    color: #222;
}
.sidebar-item a:hover{
    color: #e31e24;
}
.full-height{
    height: 100vh!important;
}
.main-row, .sidebar{
    height: 100%;
}
.main-row{
    -webkit-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    transition: all .7s cubic-bezier(.3,.18,.16,.92);
    min-width: calc(13*40vh);
}
.sidebar-mail, .sidebar-phone{
    position: relative;
    padding-left: 40px;
    color: #888;
    font-size: 17pt;
    font-weight: 500;
}
.sidebar-mail:hover, .sidebar-phone:hover{
    color: #e31e24;
    text-decoration: none;
}
.sidebar-mail:before, .sidebar-phone:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url('../img/envelope.png');
    background-position: center;
    background-size: contain;
    opacity: .7;
}
.sidebar-phone:before{
    background-image: url('../img/phone.png');
}
.sidebar-phone{
    display: block;
    margin-top: 15px;
    font-size: 17pt;
    color: #888;
    font-weight: 500;
}
.sidebar-socials{
    margin-top: 30px;
}
.sidebar-socials a{
    opacity: .6;
    margin-right: 10px;
}
.sidebar-socials a:hover{
    opacity: 1;
}
.letter{
    font-family: 'Gilroy Light', sans-serif;
    -webkit-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .7s cubic-bezier(.3,.18,.16,.92);
    transition: all .7s cubic-bezier(.3,.18,.16,.92);
    display: inline-block;
    font-size: 45vh;
    font-weight: 900;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    line-height: 40vh;
    text-align: center;
    margin: 0 auto;
}
.letter-one{
    background: url('../img/one.png') no-repeat center;
    background-size: contain;
    width: 100%;
    height: 50vh;
    left: 0;
    top: 30px;
    right: 0;
    text-align: center;
}
.active .letter-one{
    width: 50px;
    height: 200px;
}
#partners .column-head{
    height: 55vh;
}
#partners.active .column-head{
    min-height: 200px;
    height: 200px;
}
.visual{
    width: calc(100% - 40px);
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, .3);
}
.visual-about{
    background-image: url('../img/gifs/about.gif');
}
.visual-strategy{
    background-image: url('../img/gifs/strategy.gif');
}
.visual-branding{
    background-image: url('../img/gifs/branding.gif');
}
.visual-events{
    background-image: url('../img/events.png');
}
.visual-outdoor{
    background-image: url('../img/outdoor.jpg');
}
.visual-projects{
    background-image: url('../img/projects.png');
}
.visual-web{
    background-image: url('../img/web.jpg');
}
.visual-partners{
    background-image: url('../img/partners.jpg');
}
.column.active .visual-partners{
    display: none;
}
.visual-contacts{
    background-image: url('../img/contacts.jpg');
}
.logo{
    padding: 10px 0;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.hidden-text{
    visibility: hidden;
    opacity: 0;
    width: 76vh;
    -webkit-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -moz-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -ms-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    -o-transition: all .3s cubic-bezier(.3,.18,.16,.92);
    transition: all .3s cubic-bezier(.3,.18,.16,.92);
}
.hidden-btn{
    visibility: hidden;
    opacity: 0;
}
.active .hidden-btn{
    visibility: visible;
    opacity: 1;
}
.active .hidden-text{
    top: 10vh;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.container-scroll{
    padding: 0;
    background-color: rgba(255,255,255,.5);
}
#left_btn{
    position: absolute;
    right: -60px;
    top: 45%;
    width: 50px;
    height: 50px;
    background-image: url('../img/left.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#left_btn:hover{
    opacity: 1;
    right: -50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.loading{
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../img/gifs/loader.gif');
    background-size: 20vh;
    background-position: center;
    background-repeat: no-repeat;
}
.column[id=projects].active .column-head{
    display: none;
}
#player{
    max-width: 100%!important;
}
/*
=========== GRID ===========
*/

.grid img{
    margin-bottom: 20px;
    vertical-align: middle;
    display: inline-block;
    width: calc(25% - 10px);
    padding: 10px 15px;
    float: left;
}
.grid-hidden{
    display: none;
    max-height: calc(100vh - 530px);
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.debug{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: orange;
    font-weight: bold;
    padding: 10px 20px;
    /*display: none;*/
    z-index: 100;
}
.list-style-dash{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
.list-style-dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.column-footer{
    display: none;
    height: 200px;
}
#scrollVideos{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url('../img/angle-arrow-down.svg');
    -webkit-background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c8c8c8;
    border-radius: 50%;
    cursor: pointer;
}