@media(max-width: 768px){
    html, body{
        overflow: hidden;
    }
    body {
        position: relative;
    }
    .sidebar, .column{
        width: 100%;
        border: none;
        height: initial;
    }
    .column{
        position: initial;
        overflow-y: scroll!important;
    }
    .main-row{
        width: 100%;
        min-width: auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    .main-content{
        display: inline-block;
        position: absolute;
        vertical-align: top;
        float: left;
    }
    .mobile-active{
        background-color: rgba(255, 255, 255, .3);
    }
    .column.mobile-active .column-head{
        min-height: 200px;
        -webkit-transition: all .3s cubic-bezier(.3,.18,.16,.92);
        -moz-transition: all .3s cubic-bezier(.3,.18,.16,.92);
        -ms-transition: all .3s cubic-bezier(.3,.18,.16,.92);
        -o-transition: all .3s cubic-bezier(.3,.18,.16,.92);
        transition: all .3s cubic-bezier(.3,.18,.16,.92);
    }
    .column.mobile-active .letter{
        transform: rotate(-45deg);
        font-size: 20vh!important;
        line-height: 20vh;
        left: 20px;
        -webkit-transition: all .7s cubic-bezier(.3,.18,.16,.92);
        -moz-transition: all .7s cubic-bezier(.3,.18,.16,.92);
        -ms-transition: all .7s cubic-bezier(.3,.18,.16,.92);
        -o-transition: all .7s cubic-bezier(.3,.18,.16,.92);
        transition: all .7s cubic-bezier(.3,.18,.16,.92);
    }
    .hidden-text{
        width: 100%;
    }
    .mobile-active .hidden-btn{
        visibility: visible;
        opacity: 1;
    }
    .mobile-active .hidden-text{
        top: 10vh;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    .column-body{
        font-size: 18pt;
    }
    .grid img{
        width: calc(50% - 10px);
    }
    #partners .column-head{
        height: initial;
    }
    .mobile-active .letter-one{
        width: 50%;
        height: 100px;
        -webkit-transform: none!important;
        -moz-transform: none!important;
        -ms-transform: none!important;
        -o-transform: none!important;
        transform: none!important;
    }
    .column-footer{
        display: block;
    }
}